body{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Dosis', sans-serif;
}

h1{
    font-size: 28px;
}

#sidebar{
    float: left;
    width: 200px;
    background-color: #ede7d3; /** beige **/
    padding: 20px;
}