body{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Dosis', sans-serif;
}

h1{
    font-size: 28px;
}

h2{
    font-size: 24px;   
}

#sidebar{
    float: left;
    width: 350px;
    background-color: #ede7d3; /** beige **/
    padding: 20px;
}
#sidebar h2{
    float: left;  
    margin: 0;
}
#sidebar button{
    float: right; 
}
#chat-room-list{
    clear: both;
    padding-top: 20px;
    list-style: square;
}